DATABASE_URL="postgresql://ayoub@localhost:5432/offgrid_dev?schema=public"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
BETTER_AUTH_SECRET=BETTER_AUTH_SECRET=V9pqrKaZXYGpzRPytVLThcK7zgYdr63v